<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <script src="https://kit.fontawesome.com/7698889a07.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/">
            <img src="./images/logo-mercado-liebre.svg" class="logo">
            </a>
            <form class="main-search" action="">
                <input class="busqueda" type="search" name="busqueda" placeholder="Buscar productos, marcas">
                <button class="busqueda" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-nav-bar">
            <ul class="left-nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-nav-bar">
                <li>
                    <a href="/register">
                        Creá tu cuenta
                        <i class="fas fa-id-card"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Ingresá
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mis compras
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <img class="banner" src="/images/img-home-banner.jpg" width="360" alt="">
        <section class="producto">
            <h2>Basado en tu ultima visita</h2>
            <article class="product">
                <img class="product" src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="valor">
                        <p class="precio">$6.770</p>
                        <p class="desc">40% off</p>
                    </div>
                    <h4 class="desc">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="product">
                <img class="product" src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook Pro">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="valor">
                        <p class="precio">$230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <h4 class="desc">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="product">
                <img class="product" src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy S10">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="valor">
                        <p class="precio">$70.500</p>
                        <p class="desc">10% off</p>
                    </div>
                    <h4 class="desc">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="product">
                <img class="product" src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung 43">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="valor">
                        <p class=" precio">$23.200</p>
                        <p class="desc">5% off</p>
                    </div>
                    <h4 class="desc">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        <section class="producto">
            <h2>Sección de ofertas</h2>
            <article class="product">
                <img class="product" src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="valor">
                        <p class="precio">$6.770</p>
                        <p class="desc">40% off</p>
                    </div>
                    <h4 class="desc">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="product">
                <img class="product" src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook Pro">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="valor">
                        <p class="precio">$230.000</p>
                        <p class="desc">20% off</p>
                    </div>
                    <h4 class="desc">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="product">
                <img class="product" src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy S10">
                <div class="description">
                    <i class="fas fa-truck"></i>
                    <div class="valor">
                        <p class="precio">$70.500</p>
                        <p class="desc">10% off</p>
                    </div>
                    <h4 class="desc">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="product">
                <img class="product" src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung 43"">
                <div class=" description">
                    <i class="fas fa-truck"></i>
                    <div class="valor">
                        <p class=" precio">$23.200</p>
                        <p class="desc">5% off</p>
                    </div>
                    <h4 class="desc">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <article class="announcement">
            <h3>
                <i class="fas fa-credit-card fa-2x"></i>
                <br>
                Pagá con targeta o efectivo
            </h3>
            <p class="final">
                Con Mercado Liebre Cash, tenés cuotas sin interés con targeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </article>
        <article class="announcement">
            <h3>
                <i class="fas fa-gift fa-2x"></i>
                <br>
                Envío gratis desde $2.500
            </h3>
            <p class="final">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                de productos. Es un beneficio de Mercado Puntos.
            </p>
        </article>
        <article class="announcement">
            <h3>
                <i class="fas fa-user-shield fa-2x"></i>
                <br>
                Seguridad de principio a fin
            </h3>
            <p class="final">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada <br>que no puedas
                hacer, porque estás siempre protegid@.
            </p>
        </article>
        <p><i class="fas fa-copyright"></i>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>