<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <script src="https://kit.fontawesome.com/7698889a07.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/">
                <img src="./images/logo-mercado-liebre.svg" class="logo">
            </a>
            <form class="main-search" action="">
                <input class="busqueda" type="search" name="busqueda" placeholder="Buscar productos, marcas">
                <button class="busqueda" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-nav-bar">
            <ul class="left-nav-bar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-nav-bar">
                <li>
                    <a href="/register">
                        Creá tu cuenta
                        <i class="fas fa-id-card"></i>
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Ingresá
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        Mis compras
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="form-header">Formulario de registro</h2>
        <form class="register-form" action="/">
            <div class="control-form">
                <input class="text-form" type="text" name="nombre" placeholder="Nombre y Apellido" required>
            </div>
            <div class="control-form">
                <input class="text-form" type="text" name="usuario" placeholder="Nombre de usuari@" required>
            </div>
            <label class="title">Fecha de Nacimiento</label>
            <div class="control-form">
                <input class="text-form" type="date" name="fecha" required>
            </div>
            <div class="control-form">
                <input class="text-form" type="text" name="direccion" placeholder="Dirección domicilio" required>
            </div>
            <label class="title">Perfil de Usuario</label>
            <div class="control-form-client">
                <label>Comprador</label>
                <input type="radio" name="comprador" value="comprador">
                <label>Vendedor</label>
                <input type="radio" name="vendedor" value="vendedor">
            </div>
            <label class="title">Intereses</label>
            <div class="control-form-interests">
                <label>Electro</label>
                <input type="checkbox" name="electro" value="electro">
                <label>Moda</label>
                <input type="checkbox" name="moda" value="moda">
                <label>Hogar</label>
                <input type="checkbox" name="hogar" value="hogar">
                <label>Juguetería</label>
                <input type="checkbox" name="jugueteria" value="jugueteria">
                <label>Vida Sana</label>
                <input type="checkbox" name="vidaSana" value="vidaSana">
            </div>
            <label class="title">Imagen de perfil</label>
            <div class="control-form-img">
                <input class="img-form" type="file" name="avatar" accept=".jpg .png">
            </div>
            <div class="control-form">
                <input class="text-form" type="text" name="contraseña" placeholder="Contraseña">
                <br>
                <input class="text-form" type="text" name="contraseña2" placeholder="Confirmar contraseña">
            </div>
            <div class="control-form">
                <input class="button" type="submit" value="Registro">
                <input class="button" type="reset" value="Borrar">
            </div>
        </form>
    </main>
    <footer>
        <article class="announcement">
            <h3>
                <i class="fas fa-credit-card fa-2x"></i>
                <br>
                Pagá con targeta o efectivo
            </h3>
            <p class="final">
                Con Mercado Liebre Cash, tenés cuotas sin interés con targeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </article>
        <article class="announcement">
            <h3>
                <i class="fas fa-gift fa-2x"></i>
                <br>
                Envío gratis desde $2.500
            </h3>
            <p class="final">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
                de productos. Es un beneficio de Mercado Puntos.
            </p>
        </article>
        <article class="announcement">
            <h3>
                <i class="fas fa-user-shield fa-2x"></i>
                <br>
                Seguridad de principio a fin
            </h3>
            <p class="final">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada <br>que no puedas
                hacer, porque estás siempre protegid@.
            </p>
        </article>
        <p><i class="fas fa-copyright"></i>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>